.heading{
    font-size:30px;
    width:100%;
    margin:0;
    box-shadow:5px 5px 5px gold;
}

.note{
    font-size:17px;
    color:black;
}

#footer{
    bottom:0;
    position: fixed;
    width:100%;
    font-size:30px;
    color: yellow;
    text-align: center;
    text-shadow:3px 3px 3px red;
    background-color: bisque;
}

canvas{
    border:5px solid aqua;
    border-radius:20px;
    box-shadow:5px 5px 5px purple;
}

video{
    border:5px solid aqua;
    border-radius:20px;
    box-shadow:5px 5px 5px purple;
}

body{
    background-size: cover;
}